@use "../abstracts/colors";

body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    color: colors.$primary-white;
    font-weight: 400;
    background-color: colors.$color-background-color
}

h2 {
    font-size: 6rem;
}