body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    // color: colors.$primary-white;
    // background-color: colors.$primary-black;
    // margin: 0 auto;
}

h2 {
    font-size: 6rem;
}